body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(231, 231, 231);
  height: auto;
  
}
main{
  min-height: 600px;
  padding: 50px;
  
}
nav{
  background-color: rgb(76, 1, 92);
  padding: 20px;
  color:white;
}


.nav-link:hover { color: #b2afdd; } 

.nav-link {
  color: white;
}



footer{
  background-color: black;
  padding: 50px;
  color: aliceblue;
  text-align: center;
  margin-top: 20px;
}


.quienes{
  height: fit-content;
  align-content: center;
  text-align:center;
  padding-bottom: 40px;
  margin-left: 150px;
  margin-right: 150px;

}

#contacto form{
  width:auto;
}



